/*
  this css file contains css classes for snip list widget
*/
.goog-tab-content {
      height:100%;
      margin: 0;
      border: 1px solid #6b90da;
      border-top: 0;
      padding: 4px 8px;
      background: #fff;
      overflow: auto;
}

      .rowSnip { border: solid 1px #333;  font-size: 12px; padding-top: 5px; margin-top:5px;border-top: 5px solid #657acc;}
      .rowSnip  .userImg { width:50px; }
      .rowSnip .snipImg { width: 94px; }
      .rowSnip .firstColDiv { margin-right:5px; display:inline-block;}
      .rowSnip .snipImgParent { display:inline-block;}
      .rowSnip .leftPanel {margin-left:5px;float:left;}
      .rowSnip .userTitleDiv {margin-top:2px;display: block;}
      .rowSnip .leftPanelTop {display: block;}
      .rowSnip .listContentDiv {margin:2px;}
      .rowSnip .secondColDiv {margin:0px 10px 2px 20px; float: left;}
      .rowSnip .contentDiv {display: inline-block;}
      .rowSnip .thirdColDiv {float:left;margin-left: 3px;}
      .rowSnip .forthColDiv {float:left;margin-left: 10px;}
      .rowSnip .titleLabel {font-weight: bold; font-weight: 17px; margin-right:5px; display: inline-block}
      .rowSnip .snipContentDiv {border: solid 1px; width:300px; height:50px;display: inline-block}
      .rowSnip .userNameDiv, .postCountDiv, .viewCountDiv {display: inline-block; }
      .rowSnip .thirdColDivChild2 {margin-top: 20px;}
      .rowSnip .userNameDiv {margin-left:20px;}
      .rowSnip .postCountDiv, .viewCountDiv {margin-left:50px;}
      .rowSnip .creationDateDiv {margin-top:23px;}
      .rowSnip .catDiv{margin-top:20px;}
      .rowSnip .catDiv, .subCatDiv {color: #657acc;}
      .rowSnip .imgBadge {width:27px; height:30px;}

