.settings
.classpath
.springBeans
target
bin
logs
*.jar
*.class
.project
.idea
.idea/*
RemoteSystemsTempFiles
*.iml
*.zip
*.launch
.gitignore
WebContent/*
src/main/webapp/rdl/*
src/main/webapp/META-INF/*
src/main/webapp/WEB-INF/deploy
src/main/gwt-unitCache/*
src/main/java/com/example/*