<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>The Relationship Driving License</title>
</head>
<body>
	{{#items}}
	Name: {{name}}
	Price: {{price}}
	  {{#features}}
	  Feature: {{description}}
	  {{/features}}
	{{/items}}
</body>
</html>