<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>License</title>
</head>
<body>
{{#snipsList}}
	<p>
		<span>{{title}}</span>
	</p>
	<div>{{{content}}}</div>
{{/snipsList}}
</body>
</html>