<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>The Relationship Driving License</title>
</head>
<body>
{{#renderNextPage}}
	<a href="/#{{nextPageLink}}">NextPage</a>
{{/renderNextPage}}

{{#servicesList}}
	<p>
		<a href="/#{{moduleName}}:{{id}}">{{title}}</a>
	</p>
	<p>
		<span>Author: {{author}}</span>
		<span>Date: {{creationDate}}</span>
	</p>
{{/servicesList}}
</body>
</html>