


div.text {
 margin:10px;
 padding:10px;


}
.gwt-PopupPanel {
 margin:340px 0 0 300px;
   z-index:1;

}


.layoutTable{
	width: 100%;
	}	
.rdlTreeCell{
	min-width: 200px;
	border-right: 1px solid #222222;
	border-top: 1px solid #222222;
	}
.rdlContentCell{
	width: 80%;
	border-top: 1px solid #222222;
	}

  /* !!!!!!!!!!!!!!!!!   TextEditor Header */



.headerGrid {
	position:relative;
	height:120px;
	width:100%;
	top:0;
	padding:0;
}

















