
body {
    padding-top:1px;
    font-size:16px;
    font-family:"Open Sans",serif;
    overflow:scroll;
    height:1200px;
}

.splashLogo {
    position:absolute;
    left:-8px;
    z-index:-500;
    max-width:300px;
    height: auto;
}

.gwt-PopupPanel {
    z-index:500;

}

h1 {
  clear:both;
  color:#232323;
  font-size:38px;
  font-style:normal;
  font-weight:500;
  letter-spacing:-2px;
  line-height:1em;
  margin-bottom:20px;
  margin-left: 10px;
}

h3 {
    font-family:Abel, Arial, sans-serif;
    font-weight:400;
    font-size:18px;
    color:red;
}

.margin-base-vertical {
    margin:30px 0 20px 10px;
}

div.text {
    margin:10px;
    padding:10px;
}


      /*
table {
    margin-left:2px!important;
    margin-right:6px!important;
    border-collapse:collapse!important;
    border-spacing:4px!important;
}

tr {
    border-spacing:2px!important;
    margin-left:10px!important;
    margin-right:10px!important;
}

td {
    margin-left:10px!important;
    margin-right:10px!important;
    padding:2px;
}     */

.gwt-FlowPanel {
    height:100%;
}

.signInView {
    top:20px;
    display:block;
    background-color:white!important;
    border:2px solid grey;
    margin:10px;
    padding:10px;
}

.listDisplay {
    width:100%;
    height:100%;

}


.filterOptions {

    position:fixed;
    top:20px;
    display:block;
    background-color:white!important;
    border:2px solid grey;
    width:350px;
    height:330px;
    margin:10px;
    padding:10px;


}

.datePicker {
    margin: 0px;
}

/** profile **/

 .profileImagePanel {
        display:inline-block;
        height:220px;
        width:200px;
        }

  .profileImage {
        z-index:500;
        display:inline-block;
        height:220px;
        width:200px;
  }
 .profileUpLoadFormPanel {
        position:relative;
        display:inline-block;
         width:320px;
    	height:200px;
        }

 .uploadPopUp {

  background-color: hsl(200, 39%, 75%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c2d9e4", endColorstr="#a6c7d8");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c2d9e4), to(#a6c7d8));
  background-image: -moz-linear-gradient(top, #c2d9e4, #a6c7d8);
  background-image: -ms-linear-gradient(top, #c2d9e4, #a6c7d8);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c2d9e4), color-stop(100%, #a6c7d8));
  background-image: -webkit-linear-gradient(top, #c2d9e4, #a6c7d8);
  background-image: -o-linear-gradient(top, #c2d9e4, #a6c7d8);
  background-image: linear-gradient(#c2d9e4, #a6c7d8);
  border-color: #a6c7d8 #a6c7d8 hsl(200, 39%, 73%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
  -webkit-font-smoothing: antialiased;
      width:300px;
    	height:200px;
}
.uploadHeader {
 position:absolute;
   display:block;
 top:14px;
 width:310px;
 padding:4px;
 height:24px;
 color:white;
 margin:10px;

}


.uploadFormElement {
   position:absolute;
   display:block;
   top:70px;
   width:310px;
   margin:10px;
}
.uploadSubmit {
   position:absolute;
   display:block;
   top:110px;
   margin:10px;
}


.gwt-HTML,.gwt-ListBox {
    margin-left:10px!important;
}

.displayDiv {
    display:block;
    height:60px;
    margin:10px 20px 10px 0;


}

.buttonRow {
    display:block;
    height:40px;
    width:600px;
}


/*********************** BOOTSTRAP *************************************/

input.search-query {
    padding:6px 0 6px 32px;
    height:34px;
    width:240px;
}

form.form-search {
    position: relative;
    top:0;

}

form.form-search:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top:6px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}

/*********************** CORE CATEGORIES BUTTONS *************************************/
.gwt-DecoratedPopupPanel{
    z-index: 2;
}
.gwt-DialogBox{
    z-index: 2;
}
.gwt-PopupPanelGlass {
    z-index: 2;
}
 .btn-cat{
        color: #000000;
        width:90px;
        height:25px;
        text-align:center;
        cursor:pointer;
        position: absolute;
        z-index: 1;
        font-size: 14px;
        font-weight: bold;
        padding-left: 0px;
        padding-right: 0px;
        padding: 0px;
 }

.btn-cat-compat{
        left: 250px;
        top: 85px;
        background-color: #9ce148;
        border-color: #9ce148;
        background-image: linear-gradient(to bottom, #FFFFFF, #9ce148);
}
.btn-cat-compat:hover{
        background-color: #9ce148;
        background-image: linear-gradient(to bottom, #9ce148, #9ce148);
}

.btn-cat-conn{
        left: 240px;
        top: 124px;
        background-color: #ffff00;
        border-color: #ffff00;
        background-image: linear-gradient(to bottom, #FFFFFF, #ffff00);
}

.btn-cat-conn:hover{
        background-color: #ffff00;
        background-image: linear-gradient(to bottom, #ffff00, #ffff00);
}

.btn-cat-ext{
        left: 120px;
        top: 150px;
        background-color: #004cc0;
        border-color: #004cc0;
        background-image: linear-gradient(to bottom, #FFFFFF, #004cc0);
}
.btn-cat-ext:hover{
        background-color: #004cc0;
        background-image: linear-gradient(to bottom, #004cc0, #004cc0);
}

.btn-cat-ero{
        left: 10px;
        top: 110px;
        background-color: #f11515;
        border-color: #f11515;
        background-image: linear-gradient(to bottom, #FFFFFF, #f11515);
}
.btn-cat-ero:hover{
        background-color: #f11515;
        background-image: linear-gradient(to bottom, #f11515, #f11515);
}

.btn-cat-sed{
        left: 0px;
        top: 69px;
        background-color: #ed427d;
        border-color: #ed427d;
        background-image: linear-gradient(to bottom, #FFFFFF, #ed427d);
}
.btn-cat-sed:hover{
        background-color: #ed427d;
        background-image: linear-gradient(to bottom, #ed427d, #ed427d);
}

.btn-cat-psy{
        left: 5px;
        top: 30px;
        background-color: #a32ad4;
        border-color: #a32ad4;
        background-image: linear-gradient(to bottom, #FFFFFF, #a32ad4);
}
.btn-cat-psy:hover{
        background-color: #a32ad4;
        background-image: linear-gradient(to bottom, #a32ad4, #a32ad4);
}

.btn-cat-aff{
        left: 55px;
        top: 0px;
        background-color: #ff8f00;
        border-color: #ff8f00;
        background-image: linear-gradient(to bottom, #FFFFFF, #ff8f00);
}
.btn-cat-aff:hover{
        background-color: #ff8f00;
        background-image: linear-gradient(to bottom, #ff8f00, #ff8f00);
}

.btn-cat-abu{
        background-color: #d69051;
        left: 170px;
        top: 0px;
        background-color: #d69051;
        border-color: #d69051;
        background-image: linear-gradient(to bottom, #FFFFFF, #d69051);
}
.btn-cat-abu:hover{
        background-color: #d69051;
        background-image: linear-gradient(to bottom, #d69051, #d69051);
}


/*********************** BOOTSTRAP OVERWRITES*************************************/
 
.navbar .brand {
    cursor:pointer;
}

.navbar {
    margin-bottom: 5px;
}

.navbar .nav > li > a:hover {
     background-color: #F0F0F0;
     box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
}

.brandActive{
    background-color: #E5E5E5;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
}

/*********************** RDL CUSTOM *************************************/

.snipListRowBadge{
	font-size: 15px;
	color: grey;
	background-color: white;
}
.posRefBadge{
	color: green;
}
.negRefPadge{
	color: red;
}
.leftIcon{
	float: left;
	padding-right: 3px;
}
.rightIcon{
	padding-left: 3px;
}
.push {
	padding-top: 55px;
}